---
// FooterSection - Cloned from https://thedeweyschools.edu.vn/
// Date: 2025-12-09
---

<div data-elementor-type="footer" data-elementor-id="22407" class="elementor elementor-22407 elementor-location-footer" data-elementor-post-type="elementor_library">
			<div class="elementor-element elementor-element-71d62ca e-flex e-con-boxed e-con e-parent" data-id="71d62ca" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-0f78a91 e-flex e-con-boxed e-con e-child" data-id="0f78a91" data-element_type="container">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-635ec58 e-con-full e-flex e-con e-child" data-id="635ec58" data-element_type="container">
				<div class="elementor-element elementor-element-a300d95 elementor-widget elementor-widget-theme-site-logo elementor-widget-image" data-id="a300d95" data-element_type="widget" data-widget_type="theme-site-logo.default">
				<div class="elementor-widget-container">
									<a href="https://thedeweyschools.edu.vn">
			<img width="217" height="160" src="/clone/images/vp_vp-logo-dewey-02-1.svg" class="attachment-full size-full wp-image-17" alt="vp-vp-logo-dewey-02 1" />				</a>
									</div>
				</div>
				<div class="elementor-element elementor-element-5019cfd elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="5019cfd" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-1dad446 e-con-full e-flex e-con e-child" data-id="1dad446" data-element_type="container">
				<div class="elementor-element elementor-element-d5995aa elementor-widget elementor-widget-image" data-id="d5995aa" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
														<a href="https://sakuramontessori.edu.vn/" target="_blank" rel="nofollow">
							<img width="600" height="600" src="/clone/images/logo-sakura-schools01-600x600.png" class="attachment-large size-large wp-image-72301" alt="logo-sakura-schools01" srcset="/clone/images/logo-sakura-schools01-600x600.png 600w, /clone/images/02/logo-sakura-schools01-300x300.png 300w, https://thedeweyschools.edu.vn/wp-content/uploads/2023/02/logo-sakura-schools01-768x768.png 768w, https://thedeweyschools.edu.vn/wp-content/uploads/2023/02/logo-sakura-schools01-1536x1536.png 1536w, https://thedeweyschools.edu.vn/wp-content/uploads/2023/02/logo-sakura-schools01.png 1875w" sizes="(max-width: 600px) 100vw, 600px" />								</a>
													</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-6c1eff9 elementor-hidden-desktop elementor-hidden-laptop elementor-hidden-tablet_extra elementor-hidden-tablet e-flex e-con-boxed e-con e-child" data-id="6c1eff9" data-element_type="container">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-c585a7f elementor-widget elementor-widget-heading" data-id="c585a7f" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h6 class="elementor-heading-title elementor-size-default">hỗ trợ</h6>		</div>
				</div>
				<div class="elementor-element elementor-element-4f06871 elementor-widget elementor-widget-text-editor" data-id="4f06871" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p><a style="color: #dcdbe6;" href="mailto:info.tht@thedeweyschools.edu.vn">info.tht@thedewyschools.edu.vn</a></p>						</div>
				</div>
				<div class="elementor-element elementor-element-5649fcd elementor-widget elementor-widget-text-editor" data-id="5649fcd" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<a style="color: #dcdbe6;" href="tel:02471088998">024.7108.8998</a>						</div>
				</div>
				<div class="elementor-element elementor-element-00f6391 link-footer elementor-widget elementor-widget-text-editor" data-id="00f6391" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>Mã bưu chính: 100000</p>						</div>
				</div>
					</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-3bdc2f7 e-con-full e-flex e-con e-child" data-id="3bdc2f7" data-element_type="container">
		<div class="elementor-element elementor-element-44bae19 elementor-hidden-mobile e-flex e-con-boxed e-con e-child" data-id="44bae19" data-element_type="container">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-d8ab377 elementor-widget elementor-widget-heading" data-id="d8ab377" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<p class="elementor-heading-title elementor-size-default">hỗ trợ</p>		</div>
				</div>
				<div class="elementor-element elementor-element-9b46f31 link-footer elementor-widget elementor-widget-text-editor" data-id="9b46f31" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p><a style="color: #dcdbe6;" href="mailto:info.tht@thedeweyschools.edu.vn" rel="nofollow">info.tht@thedeweyschools.edu.vn</a></p>						</div>
				</div>
				<div class="elementor-element elementor-element-6bbfa5c link-footer elementor-widget elementor-widget-text-editor" data-id="6bbfa5c" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p><a style="color: #dcdbe6;" href="tel:19003293" rel="nofollow">19003293</a></p>						</div>
				</div>
				<div class="elementor-element elementor-element-c48cfd7 link-footer elementor-widget elementor-widget-text-editor" data-id="c48cfd7" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>Mã bưu chính: 100000</p>						</div>
				</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-d51bed8 e-flex e-con-boxed e-con e-child" data-id="d51bed8" data-element_type="container">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-80889a0 elementor-widget elementor-widget-heading" data-id="80889a0" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<p class="elementor-heading-title elementor-size-default">cơ sở</p>		</div>
				</div>
				<div class="elementor-element elementor-element-9e974dd elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="9e974dd" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
					<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<a href="/co-so/dewey-tay-ho-tay/" rel="nofollow">

											<span class="elementor-icon-list-text">Dewey Tây Hồ Tây - Lô H3-LC, Khu đô thị Tây Hồ Tây, phường Xuân Đỉnh, Hà Nội</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
											<a href="/co-so/dewey-cau-giay/" rel="nofollow">

											<span class="elementor-icon-list-text">Dewey Cầu Giấy - Số 89 phố Khúc Thừa Dụ, phường Cầu Giấy, Hà Nội</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
											<a href="/co-so/dewey-ocean-park/" rel="nofollow">

											<span class="elementor-icon-list-text">Dewey Ocean Park - PT-01, Khu đô thị Ocean Park, Gia Lâm, Hà Nội</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
											<a href="/co-so/dewey-hai-phong/" rel="nofollow">

											<span class="elementor-icon-list-text">Dewey Hải Phòng - Đường 11, Khu đô thị Sao Đỏ, Anh Dũng 2, phường Hưng Đạo, Hải Phòng</span>
											</a>
									</li>
						</ul>
				</div>
				</div>
		<div class="elementor-element elementor-element-884b963 elementor-hidden-desktop elementor-hidden-laptop elementor-hidden-tablet_extra elementor-hidden-tablet e-flex e-con-boxed e-con e-child" data-id="884b963" data-element_type="container">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-2158204 elementor-hidden-tablet_extra elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-heading" data-id="2158204" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h6 class="elementor-heading-title elementor-size-default">tài liệu</h6>		</div>
				</div>
				<div class="elementor-element elementor-element-9ed33c6 elementor-hidden-tablet_extra elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-image" data-id="9ed33c6" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
														<a href="/clone/images/Tong-quan-chuong-trinh-hoc-23-24_Tieng-Viet.pdf" download="">
							<img width="148" height="210" src="/clone/images/tlts.png" class="attachment-full size-full wp-image-386" alt="tai-lieu-tuyen-sinh" />								</a>
													</div>
				</div>
					</div>
				</div>
					</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-9b3d090 e-con-full e-flex e-con e-child" data-id="9b3d090" data-element_type="container">
				<div class="elementor-element elementor-element-9d12dd4 elementor-widget elementor-widget-heading" data-id="9d12dd4" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<p class="elementor-heading-title elementor-size-default">Chương trình giáo dục</p>		</div>
				</div>
				<div class="elementor-element elementor-element-083f3b0 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="083f3b0" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
					<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<a href="https://sakuramontessori.edu.vn/" target="_blank" rel="nofollow">

											<span class="elementor-icon-list-text">Chương trình mầm non</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
											<a href="/chuong-trinh-tu-tai-quoc-te-ib/" rel="nofollow">

											<span class="elementor-icon-list-text">Chương trình Tú tài Quốc tế IB</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
											<a href="/chuong-trinh-dao-tao/tong-quan-chuong-trinh-dao-tao-tai-dewey/" rel="nofollow">

											<span class="elementor-icon-list-text">Chương trình giáo dục phổ thông</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
											<a href="/chuong-trinh-dao-tao/chuong-trinh-quoc-te-journey/" rel="nofollow">

											<span class="elementor-icon-list-text">Chương trình Journey</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
											<a href="/chuong-trinh-dao-tao/chuong-trinh-quoc-te-adventure/" rel="nofollow">

											<span class="elementor-icon-list-text">Chương trình Adventure</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
											<a href="/chuong-trinh-dao-tao/chuong-trinh-tich-hop-discover/" rel="nofollow">

											<span class="elementor-icon-list-text">Chương trình Discover</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
											<a href="/chuong-trinh-dao-tao/chuong-trinh-tich-hop-explore/" rel="nofollow">

											<span class="elementor-icon-list-text">Chương trình Explore</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
											<a href="/tdser/cau-lac-bo/" rel="nofollow">

											<span class="elementor-icon-list-text">Chương trình ngoại khóa</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
											<a href="/huong-nghiep-va-dai-hoc/" rel="nofollow">

											<span class="elementor-icon-list-text">Tư vấn Hướng nghiệp & Đại học</span>
											</a>
									</li>
						</ul>
				</div>
				</div>
		<div class="elementor-element elementor-element-443f455 elementor-hidden-desktop elementor-hidden-laptop elementor-hidden-tablet_extra elementor-hidden-tablet e-flex e-con-boxed e-con e-child" data-id="443f455" data-element_type="container">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-cb5a52d elementor-widget elementor-widget-heading" data-id="cb5a52d" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h6 class="elementor-heading-title elementor-size-default">kết nối với chúng tôi</h6>		</div>
				</div>
				<div class="elementor-element elementor-element-d8d2a41 elementor-shape-circle e-grid-align-left elementor-grid-0 elementor-widget elementor-widget-social-icons" data-id="d8d2a41" data-element_type="widget" data-widget_type="social-icons.default">
				<div class="elementor-widget-container">
					<div class="elementor-social-icons-wrapper elementor-grid">
							<span class="elementor-grid-item">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-facebook elementor-repeater-item-809e22d" href="https://www.facebook.com/thedeweyschools" target="_blank" rel="nofollow">
						<span class="elementor-screen-only">Facebook</span>
						<svg class="e-font-icon-svg e-fab-facebook" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"></path></svg>					</a>
				</span>
							<span class="elementor-grid-item">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-repeater-item-5954893" href="https://www.youtube.com/@TheDeweySchools" target="_blank" rel="nofollow">
						<span class="elementor-screen-only">Youtube</span>
						<svg class="e-font-icon-svg e-fab-youtube" viewBox="0 0 576 512" xmlns="http://www.w3.org/2000/svg"><path d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"></path></svg>					</a>
				</span>
							<span class="elementor-grid-item">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-repeater-item-46a8eab" href="https://www.instagram.com/thedeweyschoolsofficial/" target="_blank" rel="nofollow">
						<span class="elementor-screen-only">Instagram</span>
						<svg class="e-font-icon-svg e-fab-instagram" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path></svg>					</a>
				</span>
					</div>
				</div>
				</div>
					</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-53b2fde e-con-full elementor-hidden-mobile e-flex e-con e-child" data-id="53b2fde" data-element_type="container">
		<div class="elementor-element elementor-element-be97d76 e-flex e-con-boxed e-con e-child" data-id="be97d76" data-element_type="container">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-3b060a4 elementor-widget elementor-widget-heading" data-id="3b060a4" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<p class="elementor-heading-title elementor-size-default">kết nối với chúng tôi</p>		</div>
				</div>
				<div class="elementor-element elementor-element-9e30a3d elementor-shape-circle e-grid-align-left elementor-grid-0 elementor-widget elementor-widget-social-icons" data-id="9e30a3d" data-element_type="widget" data-widget_type="social-icons.default">
				<div class="elementor-widget-container">
					<div class="elementor-social-icons-wrapper elementor-grid">
							<span class="elementor-grid-item">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-facebook elementor-repeater-item-809e22d" href="https://www.facebook.com/thedeweyschools" target="_blank" rel="nofollow">
						<span class="elementor-screen-only">Facebook</span>
						<svg class="e-font-icon-svg e-fab-facebook" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"></path></svg>					</a>
				</span>
							<span class="elementor-grid-item">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-repeater-item-5954893" href="https://www.youtube.com/@TheDeweySchools" target="_blank" rel="nofollow">
						<span class="elementor-screen-only">Youtube</span>
						<svg class="e-font-icon-svg e-fab-youtube" viewBox="0 0 576 512" xmlns="http://www.w3.org/2000/svg"><path d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"></path></svg>					</a>
				</span>
							<span class="elementor-grid-item">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-repeater-item-46a8eab" href="https://www.instagram.com/thedeweyschoolsofficial/" target="_blank" rel="nofollow">
						<span class="elementor-screen-only">Instagram</span>
						<svg class="e-font-icon-svg e-fab-instagram" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path></svg>					</a>
				</span>
					</div>
				</div>
				</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-3a39579 e-flex e-con-boxed e-con e-child" data-id="3a39579" data-element_type="container">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-7c1b3cf elementor-widget elementor-widget-heading" data-id="7c1b3cf" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<div class="elementor-heading-title elementor-size-default">tài liệu</div>		</div>
				</div>
				<div class="elementor-element elementor-element-9d0fa58 elementor-widget elementor-widget-image" data-id="9d0fa58" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
														<a href="/school-profile/" rel="nofollow">
							<img width="148" height="210" src="/clone/images/tlts.png" class="attachment-full size-full wp-image-386" alt="tai-lieu-tuyen-sinh" />								</a>
													</div>
				</div>
					</div>
				</div>
				</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-58c30e8 e-con-full e-flex e-con e-child" data-id="58c30e8" data-element_type="container">
				<div class="elementor-element elementor-element-a74e25d elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="a74e25d" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-a6d34c1 e-con-full e-flex e-con e-child" data-id="a6d34c1" data-element_type="container">
		<div class="elementor-element elementor-element-1623f4b e-con-full e-flex e-con e-child" data-id="1623f4b" data-element_type="container">
				</div>
		<div class="elementor-element elementor-element-3308d3b e-con-full e-flex e-con e-child" data-id="3308d3b" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
				</div>
		<div class="elementor-element elementor-element-b04a8cf e-flex e-con-boxed e-con e-child" data-id="b04a8cf" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
					<div class="e-con-inner">
					</div>
				</div>
		<div class="elementor-element elementor-element-a0fc23b e-con-full e-flex e-con e-child" data-id="a0fc23b" data-element_type="container">
				<div class="elementor-element elementor-element-078703d elementor-widget elementor-widget-text-editor" data-id="078703d" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>The Dewey Schools là thành viên của CIS (Council of International Schools &#8211; Hội đồng các trường quốc tế) và là trường Quốc tế IB cho chương trình DP và chương trình MYP</p>						</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-f3da64a elementor-hidden-mobile e-flex e-con-boxed e-con e-child" data-id="f3da64a" data-element_type="container">
					<div class="e-con-inner">
					</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-03ac6a3 e-con-full e-flex e-con e-child" data-id="03ac6a3" data-element_type="container">
				<div class="elementor-element elementor-element-dbbf80f elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="dbbf80f" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-547143b e-con-full e-flex e-con e-child" data-id="547143b" data-element_type="container">
		<div class="elementor-element elementor-element-512a21a e-con-full e-flex e-con e-child" data-id="512a21a" data-element_type="container">
				<div class="elementor-element elementor-element-840fcf7 elementor-widget elementor-widget-text-editor" data-id="840fcf7" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>© 2023 The Dewey Schools.</p>						</div>
				</div>
				</div>
				</div>
					</div>
				</div>
				</div>
