---
// Slider Section Component
// Cloned from: https://thedeweyschools.edu.vn/
// This is the main homepage banner slider
---

<div class="elementor-element elementor-element-9028e36 elementor-widget-mobile__width-initial elementor-widget elementor-widget-slider-swiper" data-id="9028e36" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;,&quot;_animation_delay&quot;:2000}" data-widget_type="slider-swiper.default">
				<div class="elementor-widget-container">
					<div class="swiper animeslide">
			<!-- Additional required wrapper -->
			<div class="dewey-swiper-wrapper swiper-wrapper">
				<!-- Slides -->
									<div class="images-slider swiper-slide animeslide-slide" style="background-image: url('/clone/images/tuyen-sinh-lop1-mobile.jpg');">
												<a href="https://tuyensinh.thedeweyschools.edu.vn/tuyen-sinh-lop-1-website" class="banner--name">
						<img decoding="async" width=1900 height=992 src="/clone/images/tuyen-sinh-lop1-website.jpg" srcset="/clone/images/tuyen-sinh-lop1-website-300x122.jpg 300w, /clone/images/tuyen-sinh-lop1-website-1477x600.jpg 1477w, /clone/images/tuyen-sinh-lop1-website-768x312.jpg 768w, /clone/images/tuyen-sinh-lop1-website-1536x624.jpg 1536w, /clone/images/tuyen-sinh-lop1-website.jpg 1920w" alt="Tuyen sinh lop 1" class="slider-images">

						<div class="images-info">
							
							
													</div>
						</a>
					</div>
									<div class="images-slider swiper-slide animeslide-slide" style="background-image: url('/clone/images/hoc-bong-mastery-2526-mobile.jpg');">
												<a href="https://forms.gle/Nw6TbpfEwMwSLgjA6" class="banner--name" target="_blank" rel="noopener">
						<img decoding="async" width=1900 height=992 src="/clone/images/hoc-bong-mastery-2526-website.jpg" srcset="/clone/images/hoc-bong-mastery-2526-website-300x122.jpg 300w, /clone/images/hoc-bong-mastery-2526-website-1477x600.jpg 1477w, /clone/images/hoc-bong-mastery-2526-website-768x312.jpg 768w, /clone/images/hoc-bong-mastery-2526-website-1536x624.jpg 1536w, /clone/images/hoc-bong-mastery-2526-website.jpg 1920w" alt="hoc bong mastery" class="slider-images">

						<div class="images-info">
							
							
													</div>
						</a>
					</div>
									<div class="images-slider swiper-slide animeslide-slide" style="background-image: url('/clone/images/cg-mastery-mobile.jpg');">
												<a href="https://forms.gle/Nw6TbpfEwMwSLgjA6" class="banner--name" target="_blank" rel="noopener">
						<img decoding="async" width=1900 height=992 src="/clone/images/cg-mastery-web.jpg" srcset="/clone/images/cg-mastery-web-300x122.jpg 300w, /clone/images/cg-mastery-web-1477x600.jpg 1477w, /clone/images/cg-mastery-web-768x312.jpg 768w, /clone/images/cg-mastery-web-1536x624.jpg 1536w, /clone/images/cg-mastery-web.jpg 1920w" alt="hoc bong mastery" class="slider-images">

						<div class="images-info">
							
							
													</div>
						</a>
					</div>
									<div class="images-slider swiper-slide animeslide-slide" style="background-image: url('/clone/images/tuyen-sinh-5-12-26-27-mobile.jpg');">
												<a href="https://thedeweyschools.edu.vn/tuyen-sinh/" class="banner--name">
						<img decoding="async" width=1900 height=992 src="/clone/images/tuyen-sinh-5-12-26-27-website.jpg" srcset="/clone/images/tuyen-sinh-5-12-26-27-website-300x122.jpg 300w, /clone/images/tuyen-sinh-5-12-26-27-website-1477x600.jpg 1477w, /clone/images/tuyen-sinh-5-12-26-27-website-768x312.jpg 768w, /clone/images/tuyen-sinh-5-12-26-27-website-1536x624.jpg 1536w, /clone/images/tuyen-sinh-5-12-26-27-website.jpg 1920w" alt="tuyen sinh 26-27" class="slider-images">

						<div class="images-info">
							
							
													</div>
						</a>
					</div>
									<div class="images-slider swiper-slide animeslide-slide" style="background-image: url('/clone/images/tuyen-sinh-lop6-26-27-mobile.jpg');">
												<a href="https://tuyensinh.thedeweyschools.edu.vn/tuyen-sinh-lop-6-website" class="banner--name">
						<img decoding="async" width=1900 height=992 src="/clone/images/tuyen-sinh-lop6-26-27-website.jpg" srcset="/clone/images/tuyen-sinh-lop6-26-27-website-300x122.jpg 300w, /clone/images/tuyen-sinh-lop6-26-27-website-1477x600.jpg 1477w, /clone/images/tuyen-sinh-lop6-26-27-website-768x312.jpg 768w, /clone/images/tuyen-sinh-lop6-26-27-website-1536x624.jpg 1536w, /clone/images/tuyen-sinh-lop6-26-27-website.jpg 1920w" alt="tuyen sinh lop 6" class="slider-images">

						<div class="images-info">
							
							
													</div>
						</a>
					</div>
									<div class="images-slider swiper-slide animeslide-slide" style="background-image: url('/clone/images/tuyen-sinh-lop-10-26-27-mobile.jpg');">
												<a href="https://tuyensinh.thedeweyschools.edu.vn/tuyen-sinh-lop-10-website" class="banner--name">
						<img decoding="async" width=1900 height=992 src="/clone/images/tuyen-sinh-lop-10-website.jpg" srcset="/clone/images/tuyen-sinh-lop-10-website-300x122.jpg 300w, /clone/images/tuyen-sinh-lop-10-website-1477x600.jpg 1477w, /clone/images/tuyen-sinh-lop-10-website-768x312.jpg 768w, /clone/images/tuyen-sinh-lop-10-website-1536x624.jpg 1536w, /clone/images/tuyen-sinh-lop-10-website.jpg 1920w" alt="tuyen sinh lop 10" class="slider-images">

						<div class="images-info">
							
							
													</div>
						</a>
					</div>
									<div class="images-slider swiper-slide animeslide-slide" style="background-image: url('/clone/images/tuyen-sinh-bo-sung-26-27-mobile.jpg');">
												<a href="#elementor-action%3Aaction%3Dpopup%3Aopen%26settings%3DeyJpZCI6IjM4NjQ1IiwidG9nZ2xlIjpmYWxzZX0%3D" class="banner--name">
						<img decoding="async" width=1900 height=992 src="/clone/images/tuyen-sinh-bo-sung-26-27-website.jpg" srcset="/clone/images/tuyen-sinh-bo-sung-26-27-website-300x122.jpg 300w, /clone/images/tuyen-sinh-bo-sung-26-27-website-1477x600.jpg 1477w, /clone/images/tuyen-sinh-bo-sung-26-27-website-768x312.jpg 768w, /clone/images/tuyen-sinh-bo-sung-26-27-website-1536x624.jpg 1536w, /clone/images/tuyen-sinh-bo-sung-26-27-website.jpg 1920w" alt="Tuyen sinh bo sung" class="slider-images">

						<div class="images-info">
							
							
													</div>
						</a>
					</div>
							</div>

			<!-- pagination dots -->
			<div class="swiper-pagination"></div>
			<!-- !pagination dots -->
		</div>
				</div>
				</div>


<style>
/* Slider styles - add any custom CSS here if needed */
.swiper {
    width: 100%;
    height: 100%;
}

.images-slider {
    background-size: cover;
    background-position: center;
}
</style>
