---
// Clone of https://thedeweyschools.edu.vn/
import HomePage from '../components/sections/clone/HomePage.astro';
---

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Dewey Schools - Clone</title>
    
    <!-- CSS Files -->
    <link rel='stylesheet' href='/clone/css/fluent-forms-public.css' />
    <link rel='stylesheet' href='/clone/css/fluentform-public-default.css' />
    <link rel='stylesheet' href='/clone/css/style.css' />
    <link rel='stylesheet' href='/clone/css/theme.min.css' />
    <link rel='stylesheet' href='/clone/css/custom-frontend.min.css' />
    <link rel='stylesheet' href='/clone/css/post-6.css' />
    <link rel='stylesheet' href='/clone/css/dflip.min.css' />
    <link rel='stylesheet' href='/clone/css/widget-image.min.css' />
    <link rel='stylesheet' href='/clone/css/e-animation-grow.min.css' />
    <link rel='stylesheet' href='/clone/css/custom-widget-icon-list.min.css' />
    <link rel='stylesheet' href='/clone/css/custom-pro-widget-nav-menu.min.css' />
    <link rel='stylesheet' href='/clone/css/widget-divider.min.css' />
    <link rel='stylesheet' href='/clone/css/widget-heading.min.css' />
    <link rel='stylesheet' href='/clone/css/widget-text-editor.min.css' />
    <link rel='stylesheet' href='/clone/css/widget-social-icons.min.css' />
    <link rel='stylesheet' href='/clone/css/custom-apple-webkit.min.css' />
    <link rel='stylesheet' href='/clone/css/bounceIn.min.css' />
    <link rel='stylesheet' href='/clone/css/fadeIn.min.css' />
    <link rel='stylesheet' href='/clone/css/custom-widget-image-box.min.css' />
    <link rel='stylesheet' href='/clone/css/widget-search-form.min.css' />
    <link rel='stylesheet' href='/clone/css/swiper.min.css' />
    <link rel='stylesheet' href='/clone/css/e-swiper.min.css' />
    <link rel='stylesheet' href='/clone/css/popup.min.css' />
    <link rel='stylesheet' href='/clone/css/language-switcher.min.css' />
    <link rel='stylesheet' href='/clone/css/all.min.css' />
    <link rel='stylesheet' href='/clone/css/v4-shims.min.css' />
    <link rel='stylesheet' href='/clone/css/fadeInUp.min.css' />
    <link rel='stylesheet' href='/clone/css/post-19647.css' />
    <link rel='stylesheet' href='/clone/css/fluent-forms-elementor-widget.css' />
    <link rel='stylesheet' href='/clone/css/post-12.css' />
    <link rel='stylesheet' href='/clone/css/post-22407.css' />
    <link rel='stylesheet' href='/clone/css/post-38645.css' />
    <link rel='stylesheet' href='/clone/css/post-61243.css' />
    <link rel='stylesheet' href='/clone/css/post-29043.css' />
    <link rel='stylesheet' href='/clone/css/post-29752.css' />
    <link rel='stylesheet' href='/clone/css/post-29097.css' />
    <link rel='stylesheet' href='/clone/css/post-29091.css' />
    <link rel='stylesheet' href='/clone/css/post-29085.css' />
    <link rel='stylesheet' href='/clone/css/post-29077.css' />
    <link rel='stylesheet' href='/clone/css/post-29073.css' />
    <link rel='stylesheet' href='/clone/css/post-29063.css' />
    <link rel='stylesheet' href='/clone/css/post-29059.css' />
    <link rel='stylesheet' href='/clone/css/post-29055.css' />
    <link rel='stylesheet' href='/clone/css/post-29051.css' />
    <link rel='stylesheet' href='/clone/css/post-22948.css' />
    <link rel='stylesheet' href='/clone/css/post-27325.css' />
    <link rel='stylesheet' href='/clone/css/post-31998.css' />
    <link rel='stylesheet' href='/clone/css/post-22944.css' />
    <link rel='stylesheet' href='/clone/css/post-22940.css' />
    <link rel='stylesheet' href='/clone/css/post-22935.css' />
    <link rel='stylesheet' href='/clone/css/post-21223.css' />
    <link rel='stylesheet' href='/clone/css/post-21179.css' />
    <link rel='stylesheet' href='/clone/css/post-21151.css' />
    <link rel='stylesheet' href='/clone/css/post-3423.css' />
    <link rel='stylesheet' href='/clone/css/post-532.css' />
    <link rel='stylesheet' href='/clone/css/post-527.css' />
    <link rel='stylesheet' href='/clone/css/post-436.css' />
    <link rel='stylesheet' href='/clone/css/post-31193.css' />
    <link rel='stylesheet' href='/clone/css/post-32006.css' />
    <link rel='stylesheet' href='/clone/css/post-32002.css' />
    <link rel='stylesheet' href='/clone/css/post-38007.css' />
    <link rel='stylesheet' href='/clone/css/post-61150.css' />
    <link rel='stylesheet' href='/clone/css/post-61127.css' />
    <link rel='stylesheet' href='/clone/css/post-60363.css' />
    <link rel='stylesheet' href='/clone/css/post-59944.css' />
    <link rel='stylesheet' href='/clone/css/post-57887.css' />
    <link rel='stylesheet' href='/clone/css/post-57881.css' />
    <link rel='stylesheet' href='/clone/css/post-57877.css' />
    <link rel='stylesheet' href='/clone/css/post-38025.css' />
    <link rel='stylesheet' href='/clone/css/post-38018.css' />
    <link rel='stylesheet' href='/clone/css/post-38014.css' />
    <link rel='stylesheet' href='/clone/css/post-38011.css' />
    <link rel='stylesheet' href='/clone/css/post-38003.css' />
    <link rel='stylesheet' href='/clone/css/post-61224.css' />
    <link rel='stylesheet' href='/clone/css/post-37999.css' />
    <link rel='stylesheet' href='/clone/css/post-37995.css' />
    <link rel='stylesheet' href='/clone/css/post-37991.css' />
    <link rel='stylesheet' href='/clone/css/post-37987.css' />
    <link rel='stylesheet' href='/clone/css/post-37983.css' />
    <link rel='stylesheet' href='/clone/css/post-37977.css' />
    <link rel='stylesheet' href='/clone/css/post-37965.css' />
    <link rel='stylesheet' href='/clone/css/post-37961.css' />
    <link rel='stylesheet' href='/clone/css/post-32715.css' />
    <link rel='stylesheet' href='/clone/css/post-32708.css' />
    <link rel='stylesheet' href='/clone/css/post-32704.css' />
    <link rel='stylesheet' href='/clone/css/post-141.css' />
    <link rel='stylesheet' href='/clone/css/post-2845.css' />
    <link rel='stylesheet' href='/clone/css/post-2851.css' />
    <link rel='stylesheet' href='/clone/css/post-22413.css' />
    <link rel='stylesheet' href='/clone/css/post-28904.css' />
    <link rel='stylesheet' href='/clone/css/intlTelInput.min.css' />
    <link rel='stylesheet' href='/clone/css/sticky.min.css' />
    
    <!-- Inline styles from WordPress -->
    <style>
        img.wp-smiley, img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 0.07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
        .e-con.e-parent:nth-of-type(n+4):not(.e-lazyloaded):not(.e-no-lazyload),
        .e-con.e-parent:nth-of-type(n+4):not(.e-lazyloaded):not(.e-no-lazyload) * {
            background-image: none !important;
        }
        @media screen and (max-height: 1024px) {
            .e-con.e-parent:nth-of-type(n+3):not(.e-lazyloaded):not(.e-no-lazyload),
            .e-con.e-parent:nth-of-type(n+3):not(.e-lazyloaded):not(.e-no-lazyload) * {
                background-image: none !important;
            }
        }
        @media screen and (max-height: 640px) {
            .e-con.e-parent:nth-of-type(n+2):not(.e-lazyloaded):not(.e-no-lazyload),
            .e-con.e-parent:nth-of-type(n+2):not(.e-lazyloaded):not(.e-no-lazyload) * {
                background-image: none !important;
            }
        }
    </style>
</head>
<body class="home page-template-default page page-id-19647 wp-embed-responsive elementor-default elementor-kit-6 elementor-page elementor-page-19647">
    <HomePage />
    
    <!-- JavaScript Files -->
    <script is:inline src="/clone/js/jquery.min.js"></script>
    <script is:inline src="/clone/js/jquery-migrate.min.js"></script>
    <script is:inline src="/clone/js/v4-shims.min.js"></script>
    <script is:inline src="/clone/js/moppm_elementor.min.js"></script>
    <script is:inline src="/clone/js/form-submission.js"></script>
    <script is:inline src="/clone/js/html5lightbox.js"></script>
    <script is:inline src="/clone/js/hello-frontend.min.js"></script>
    <script is:inline src="/clone/js/dewey-custom.min.js"></script>
    <script is:inline src="/clone/js/custom.js"></script>
    <script is:inline src="/clone/js/dflip.min.js"></script>
    <script is:inline src="/clone/js/jquery.smartmenus.min.js"></script>
    <script is:inline src="/clone/js/jquery.sticky.min.js"></script>
    <script is:inline src="/clone/js/swiper-bundle.min.js"></script>
    <script is:inline src="/clone/js/slider-swiper.min.js"></script>
    <script is:inline src="/clone/js/slick.min.js"></script>
    <script is:inline src="/clone/js/dewey-images-slider.min.js"></script>
    <script is:inline src="/clone/js/dewey-banner-slider.min.js"></script>
    <script is:inline src="/clone/js/dewey-tdser-slider.min.js"></script>
    <script is:inline src="/clone/js/dewey-tab-content.min.js"></script>
    <script is:inline src="/clone/js/dewey-blog-post.min.js"></script>
    <script is:inline src="/clone/js/dewey-testimonial.min.js"></script>
    <script is:inline src="/clone/js/intlTelInput.min.js"></script>
    <script is:inline src="/clone/js/utils.js"></script>
    <script is:inline src="/clone/js/webpack.runtime.min.js"></script>
    <script is:inline src="/clone/js/webpack-pro.runtime.min.js"></script>
    <script is:inline src="/clone/js/frontend-modules.min.js"></script>
    <script is:inline src="/clone/js/wp-polyfill.min.js"></script>
    <script is:inline src="/clone/js/hooks.min.js"></script>
    <script is:inline src="/clone/js/i18n.min.js"></script>
    <script is:inline src="/clone/js/frontend.min.js"></script>
    <script is:inline src="/clone/js/core.min.js"></script>
    <script is:inline src="/clone/js/elements-handlers.min.js"></script>
    
    <!-- Elementor Configuration -->
    <script is:inline>
        var elementorFrontendConfig = {
            "environmentMode":{"edit":false,"wpPreview":false,"isScriptDebug":false},
            "i18n":{"shareOnFacebook":"Share on Facebook","shareOnTwitter":"Share on Twitter"},
            "is_rtl":false,
            "breakpoints":{"xs":0,"sm":480,"md":768,"lg":1025,"xl":1440,"xxl":1600},
            "version":"3.25.6",
            "is_static":false,
            "swiperClass":"swiper"
        };
    </script>
</body>
</html>
