---
import PageHead from '../components/PageHead.astro';
import HeaderSection from '../components/HeaderSection.astro';
import MainSection from '../components/MainSection.astro';
import FooterSection from '../components/FooterSection.astro';
import FooterAssets from '../components/FooterAssets.astro';
---

<!doctype html>
<html lang="vi" prefix="og: https://ogp.me/ns#">
<head>
  <PageHead />
</head>
<body class="home page-template page-template-elementor_theme page page-id-19647 wp-custom-logo elementor-default elementor-kit-6 elementor-page elementor-page-19647">
  <HeaderSection />
  <MainSection />
  <FooterSection />
  <FooterAssets />
</body>
</html>

<!-- Cached by WP-Optimize - https://teamupdraft.com/wp-optimize/ - Last modified: December 3, 2025 6:54 pm (UTC:7) -->
