---
// Home page navigation header with logo, menu, and language switcher
---

<!-- Google Tag Manager (noscript) -->
<noscript
	><iframe
		src="https://www.googletagmanager.com/ns.html?id=GTM-P5KKSCK"
		height="0"
		width="0"
		style="display:none;visibility:hidden"></iframe></noscript
>
<!-- End Google Tag Manager (noscript) -->

<div
	data-elementor-type="header"
	data-elementor-id="12"
	class="elementor elementor-12 elementor-location-header"
	data-elementor-post-type="elementor_library"
>
	<div
		class="elementor-element elementor-element-91a26fd e-con-full header-dewey e-flex e-con e-parent"
		data-id="91a26fd"
		data-element_type="container"
		data-settings='{"background_background":"classic","sticky":"top","sticky_on":["desktop","laptop","tablet_extra","tablet","mobile"],"sticky_offset":0,"sticky_effects_offset":0,"sticky_anchor_link_offset":0}'
	>
		<div
			class="elementor-element elementor-element-a87b085 e-con-full e-flex e-con e-child"
			data-id="a87b085"
			data-element_type="container"
			data-settings='{"background_background":"classic"}'
		>
			<div
				class="elementor-element elementor-element-57fb22e e-con-full e-flex e-con e-child"
				data-id="57fb22e"
				data-element_type="container"
			>
				<div
					class="elementor-element elementor-element-3466d55 elementor-widget elementor-widget-theme-site-logo elementor-widget-image"
					data-id="3466d55"
					data-element_type="widget"
					data-widget_type="theme-site-logo.default"
				>
					<div class="elementor-widget-container">
						<a href="/">
							<img
								width="217"
								height="160"
								src="/home/images/logos/dewey-logo.svg"
								class="attachment-full size-full wp-image-17"
								alt="The Dewey Schools Logo"
							/>
						</a>
					</div>
				</div>
			</div>
			<div
				class="elementor-element elementor-element-c5ca63b e-con-full e-flex e-con e-child"
				data-id="c5ca63b"
				data-element_type="container"
			>
				<div
					class="elementor-element elementor-element-af34c1d e-con-full e-flex e-con e-child"
					data-id="af34c1d"
					data-element_type="container"
				>
					<div
						class="elementor-element elementor-element-19af462 elementor-widget__width-auto elementor-widget-tablet_extra__width-auto elementor-widget-tablet__width-auto elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-button"
						data-id="19af462"
						data-element_type="widget"
						data-widget_type="button.default"
					>
						<div class="elementor-widget-container">
							<div class="elementor-button-wrapper">
								<a
									class="elementor-button elementor-button-link elementor-size-sm elementor-animation-grow"
									href="#elementor-action%3Aaction%3Dpopup%3Aopen%26settings%3DeyJpZCI6IjM4NjQ1IiwidG9nZ2xlIjpmYWxzZX0%3D"
								>
									<span class="elementor-button-content-wrapper">
										<span class="elementor-button-text">Đăng ký tư vấn</span>
									</span>
								</a>
							</div>
						</div>
					</div>
					<div
						class="elementor-element elementor-element-ef2b920 elementor-icon-list--layout-inline elementor-align-right elementor-hidden-mobile elementor-hidden-tablet elementor-widget__width-auto elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
						data-id="ef2b920"
						data-element_type="widget"
						data-widget_type="icon-list.default"
					>
						<div class="elementor-widget-container">
							<ul class="elementor-icon-list-items elementor-inline-items">
								<li class="elementor-icon-list-item elementor-inline-item">
									<a href="/hop-tac-dao-tao/">
										<span class="elementor-icon-list-text">HỢP TÁC ĐÀO TẠO</span>
									</a>
								</li>
								<li class="elementor-icon-list-item elementor-inline-item">
									<a href="/tuyen-dung/">
										<span class="elementor-icon-list-text">TUYỂN DỤNG</span>
									</a>
								</li>
								<li class="elementor-icon-list-item elementor-inline-item">
									<a href="/tin-tuc-su-kien/">
										<span class="elementor-icon-list-text">TIN TỨC - SỰ KIỆN</span>
									</a>
								</li>
								<li class="elementor-icon-list-item elementor-inline-item">
									<a href="https://thedeweyschools.edu.vn/du-an-w/">
										<span class="elementor-icon-list-text">DỰ ÁN W</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div
						class="elementor-element elementor-element-b08eaa5 cpel-switcher--aspect-ratio-11 elementor-hidden-tablet elementor-hidden-mobile elementor-widget-laptop__width-auto cpel-switcher--layout-horizontal elementor-widget elementor-widget-polylang-language-switcher"
						data-id="b08eaa5"
						data-element_type="widget"
						data-widget_type="polylang-language-switcher.default"
					>
						<div class="elementor-widget-container">
							<nav class="cpel-switcher__nav"
								><ul class="cpel-switcher__list"
									><li class="cpel-switcher__lang"
										><a lang="en-GB" hreflang="en-GB" href="/en/"
											><span class="cpel-switcher__flag cpel-switcher__flag--gb"
												><img
													src="data:image/svg+xml;utf8,%3Csvg width='21' height='15' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient x1='50%' y1='0%' x2='50%' y2='100%' id='a'%3E%3Cstop stop-color='%23FFF' offset='0%'/%3E%3Cstop stop-color='%23F0F0F0' offset='100%'/%3E%3C/linearGradient%3E%3ClinearGradient x1='50%' y1='0%' x2='50%' y2='100%' id='b'%3E%3Cstop stop-color='%230A17A7' offset='0%'/%3E%3Cstop stop-color='%23030E88' offset='100%'/%3E%3C/linearGradient%3E%3ClinearGradient x1='50%' y1='0%' x2='50%' y2='100%' id='c'%3E%3Cstop stop-color='%23E6273E' offset='0%'/%3E%3Cstop stop-color='%23CF152B' offset='100%'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='url(%23a)' d='M0 0h21v15H0z'/%3E%3Cpath fill='url(%23b)' d='M-.002 0h21v15h-21z'/%3E%3Cpath d='M5.003 10H-.002V5h5.005L-2.082.22l1.118-1.657 8.962 6.045V-1h5v5.608l8.962-6.045L23.078.22 15.993 5h5.005v5h-5.005l7.085 4.78-1.118 1.657-8.962-6.045V16h-5v-5.608l-8.962 6.045-1.118-1.658L5.003 10z' fill='url(%23a)'/%3E%3Cpath d='M14.136 4.958l9.5-6.25a.25.25 0 00-.275-.417l-9.5 6.25a.25.25 0 10.275.417zm.732 5.522l8.515 5.74a.25.25 0 10.28-.415l-8.516-5.74a.25.25 0 00-.279.415zM6.142 4.526L-2.74-1.461a.25.25 0 00-.28.415L5.863 4.94a.25.25 0 00.279-.414zm.685 5.469l-9.845 6.53a.25.25 0 10.276.416l9.846-6.529a.25.25 0 00-.277-.417z' fill='%23DB1F35' fill-rule='nonzero'/%3E%3Cpath fill='url(%23c)' d='M-.002 9h9v6h3V9h9V6h-9V0h-3v6h-9z'/%3E%3C/g%3E%3C/svg%3E"
													alt="English"
												/></span
											></a
										></li
									></ul
								></nav
							>
						</div>
					</div>
				</div>
				<div
					class="elementor-element elementor-element-18ee966 e-con-full e-flex e-con e-child"
					data-id="18ee966"
					data-element_type="container"
				>
					<div
						class="elementor-element elementor-element-ac8b58e elementor-nav-menu__align-end elementor-hidden-tablet elementor-hidden-mobile elementor-widget__width-auto elementor-widget-laptop__width-auto elementor-widget-tablet_extra__width-auto elementor-widget-tablet__width-initial elementor-nav-menu--dropdown-tablet elementor-nav-menu__text-align-aside elementor-nav-menu--toggle elementor-nav-menu--burger elementor-widget elementor-widget-nav-menu"
						data-id="ac8b58e"
						data-element_type="widget"
						data-settings='{"layout":"horizontal","submenu_icon":{"value":"<svg class=\"e-font-icon-svg e-fas-caret-down\" viewBox=\"0 0 320 512\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z\"></path></svg>","library":"fa-solid"},"toggle":"burger"}'
						data-widget_type="nav-menu.default"
					>
						<div class="elementor-widget-container">
							<nav
								aria-label="Menu"
								class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-horizontal e--pointer-none"
							>
								<ul id="menu-1-ac8b58e" class="elementor-nav-menu">
									<li
										class="vechungtoi menu-item menu-item-type-custom menu-item-object-custom menu-item-64912"
									>
										<a href="#" class="elementor-item elementor-item-anchor">VỀ CHÚNG TÔI</a>
									</li>
									<li class="coso menu-item menu-item-type-custom menu-item-object-custom menu-item-502">
										<a href="#" class="elementor-item elementor-item-anchor">CƠ SỞ</a>
									</li>
									<li
										class="ctdt menu-item menu-item-type-custom menu-item-object-custom menu-item-20429"
									>
										<a href="#" class="elementor-item elementor-item-anchor">CHƯƠNG TRÌNH GIÁO DỤC</a>
									</li>
									<li
										class="tuyensinh menu-item menu-item-type-custom menu-item-object-custom menu-item-61242"
									>
										<a href="#" class="elementor-item elementor-item-anchor">TUYỂN SINH</a>
									</li>
									<li
										class="menu-item menu-item-type-post_type menu-item-object-page menu-item-40844"
									>
										<a href="/hoc-phi/" class="elementor-item">HỌC PHÍ</a>
									</li>
									<li
										class="menu-item menu-item-type-custom menu-item-object-custom menu-item-82650"
									>
										<a href="/thanh-tich/" class="elementor-item">THÀNH TÍCH HỌC SINH</a>
									</li>
									<li
										class="goctdser menu-item menu-item-type-custom menu-item-object-custom menu-item-20430"
									>
										<a href="#" class="elementor-item elementor-item-anchor">GÓC TDSERS</a>
									</li>
									<li
										class="doisonghocduong menu-item menu-item-type-custom menu-item-object-custom menu-item-61179"
									>
										<a href="#" class="elementor-item elementor-item-anchor">ĐỜI SỐNG HỌC ĐƯỜNG</a>
									</li>
									<li
										class="menu-item menu-item-type-custom menu-item-object-custom menu-item-67099"
									>
										<a href="/lien-he/" class="elementor-item">LIÊN HỆ</a>
									</li>
								</ul>
							</nav>
							<div
								class="elementor-menu-toggle"
								role="button"
								tabindex="0"
								aria-label="Menu Toggle"
								aria-expanded="false"
							>
								<span class="elementor-menu-toggle__icon--open"
									><svg
										xmlns="http://www.w3.org/2000/svg"
										width="27"
										height="20"
										viewBox="0 0 27 20"
										fill="none"
										><path
											d="M7.1489 2.05888C7.1489 1.32794 7.74149 0.735352 8.47243 0.735352H25.6783C26.4092 0.735352 27.0018 1.32794 27.0018 2.05888C27.0018 2.78982 26.4092 3.38241 25.6783 3.38241H8.47243C7.74149 3.38241 7.1489 2.78977 7.1489 2.05888ZM25.6783 8.67653H1.85478C1.12384 8.67653 0.53125 9.26917 0.53125 10.0001C0.53125 10.731 1.12384 11.3236 1.85478 11.3236H25.6783C26.4092 11.3236 27.0018 10.731 27.0018 10.0001C27.0018 9.26917 26.4092 8.67653 25.6783 8.67653ZM25.6783 16.6177H13.7665C13.0357 16.6177 12.443 17.2103 12.443 17.9412C12.443 18.6721 13.0357 19.2648 13.7665 19.2648H25.6783C26.4092 19.2648 27.0018 18.6721 27.0018 17.9412C27.0018 17.2103 26.4092 16.6177 25.6783 16.6177Z"
											fill="white"
											fill-opacity="0.85"></path></svg
									></span
								><svg
									aria-hidden="true"
									role="presentation"
									class="elementor-menu-toggle__icon--close e-font-icon-svg e-eicon-close"
									viewBox="0 0 1000 1000"
									xmlns="http://www.w3.org/2000/svg"
									><path
										d="M742 167L500 408 258 167C246 154 233 150 217 150 196 150 179 158 167 167 154 179 150 196 150 212 150 229 154 242 171 254L408 500 167 742C138 771 138 800 167 829 196 858 225 858 254 829L496 587 738 829C750 842 767 846 783 846 800 846 817 842 829 829 842 817 846 804 846 783 846 767 842 750 829 737L588 500 833 258C863 229 863 200 833 171 804 137 775 137 742 167Z"
									></path></svg
								><span class="elementor-screen-only">Menu</span>
							</div>
							<nav class="elementor-nav-menu--dropdown elementor-nav-menu__container" aria-hidden="true">
								<ul id="menu-2-ac8b58e" class="elementor-nav-menu">
									<li
										class="vechungtoi menu-item menu-item-type-custom menu-item-object-custom menu-item-64912"
									>
										<a href="#" class="elementor-item elementor-item-anchor" tabindex="-1"
											>VỀ CHÚNG TÔI</a
										>
									</li>
									<li class="coso menu-item menu-item-type-custom menu-item-object-custom menu-item-502">
										<a href="#" class="elementor-item elementor-item-anchor" tabindex="-1">CƠ SỞ</a>
									</li>
									<li
										class="ctdt menu-item menu-item-type-custom menu-item-object-custom menu-item-20429"
									>
										<a href="#" class="elementor-item elementor-item-anchor" tabindex="-1"
											>CHƯƠNG TRÌNH GIÁO DỤC</a
										>
									</li>
									<li
										class="tuyensinh menu-item menu-item-type-custom menu-item-object-custom menu-item-61242"
									>
										<a href="#" class="elementor-item elementor-item-anchor" tabindex="-1">TUYỂN SINH</a
										>
									</li>
									<li
										class="menu-item menu-item-type-post_type menu-item-object-page menu-item-40844"
									>
										<a href="/hoc-phi/" class="elementor-item" tabindex="-1">HỌC PHÍ</a>
									</li>
									<li
										class="menu-item menu-item-type-custom menu-item-object-custom menu-item-82650"
									>
										<a href="/thanh-tich/" class="elementor-item" tabindex="-1">THÀNH TÍCH HỌC SINH</a
										>
									</li>
									<li
										class="goctdser menu-item menu-item-type-custom menu-item-object-custom menu-item-20430"
									>
										<a href="#" class="elementor-item elementor-item-anchor" tabindex="-1">GÓC TDSERS</a
										>
									</li>
									<li
										class="doisonghocduong menu-item menu-item-type-custom menu-item-object-custom menu-item-61179"
									>
										<a href="#" class="elementor-item elementor-item-anchor" tabindex="-1"
											>ĐỜI SỐNG HỌC ĐƯỜNG</a
										>
									</li>
									<li
										class="menu-item menu-item-type-custom menu-item-object-custom menu-item-67099"
									>
										<a href="/lien-he/" class="elementor-item" tabindex="-1">LIÊN HỆ</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
					<div
						class="elementor-element elementor-element-7a8d8b9 elementor-widget__width-auto elementor-widget-tablet_extra__width-auto elementor-widget-tablet__width-auto elementor-hidden-desktop elementor-hidden-laptop elementor-hidden-tablet_extra elementor-widget elementor-widget-button"
						data-id="7a8d8b9"
						data-element_type="widget"
						data-widget_type="button.default"
					>
						<div class="elementor-widget-container">
							<div class="elementor-button-wrapper">
								<a
									class="elementor-button elementor-button-link elementor-size-sm elementor-animation-grow"
									href="#elementor-action%3Aaction%3Dpopup%3Aopen%26settings%3DeyJpZCI6IjM4NjQ1IiwidG9nZ2xlIjpmYWxzZX0%3D"
								>
									<span class="elementor-button-content-wrapper">
										<span class="elementor-button-text">Đăng ký tư vấn</span>
									</span>
								</a>
							</div>
						</div>
					</div>
					<div
						class="elementor-element elementor-element-a199602 cpel-switcher--align-right cpel-switcher--aspect-ratio-11 elementor-hidden-desktop elementor-hidden-laptop elementor-hidden-tablet_extra elementor-hidden-tablet cpel-switcher--layout-horizontal elementor-widget elementor-widget-polylang-language-switcher"
						data-id="a199602"
						data-element_type="widget"
						data-widget_type="polylang-language-switcher.default"
					>
						<div class="elementor-widget-container">
							<nav class="cpel-switcher__nav"
								><ul class="cpel-switcher__list"
									><li class="cpel-switcher__lang"
										><a lang="en-GB" hreflang="en-GB" href="/en/"
											><span class="cpel-switcher__flag cpel-switcher__flag--gb"
												><img
													src="data:image/svg+xml;utf8,%3Csvg width='21' height='15' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient x1='50%' y1='0%' x2='50%' y2='100%' id='a'%3E%3Cstop stop-color='%23FFF' offset='0%'/%3E%3Cstop stop-color='%23F0F0F0' offset='100%'/%3E%3C/linearGradient%3E%3ClinearGradient x1='50%' y1='0%' x2='50%' y2='100%' id='b'%3E%3Cstop stop-color='%230A17A7' offset='0%'/%3E%3Cstop stop-color='%23030E88' offset='100%'/%3E%3C/linearGradient%3E%3ClinearGradient x1='50%' y1='0%' x2='50%' y2='100%' id='c'%3E%3Cstop stop-color='%23E6273E' offset='0%'/%3E%3Cstop stop-color='%23CF152B' offset='100%'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='url(%23a)' d='M0 0h21v15H0z'/%3E%3Cpath fill='url(%23b)' d='M-.002 0h21v15h-21z'/%3E%3Cpath d='M5.003 10H-.002V5h5.005L-2.082.22l1.118-1.657 8.962 6.045V-1h5v5.608l8.962-6.045L23.078.22 15.993 5h5.005v5h-5.005l7.085 4.78-1.118 1.657-8.962-6.045V16h-5v-5.608l-8.962 6.045-1.118-1.658L5.003 10z' fill='url(%23a)'/%3E%3Cpath d='M14.136 4.958l9.5-6.25a.25.25 0 00-.275-.417l-9.5 6.25a.25.25 0 10.275.417zm.732 5.522l8.515 5.74a.25.25 0 10.28-.415l-8.516-5.74a.25.25 0 00-.279.415zM6.142 4.526L-2.74-1.461a.25.25 0 00-.28.415L5.863 4.94a.25.25 0 00.279-.414zm.685 5.469l-9.845 6.53a.25.25 0 10.276.416l9.846-6.529a.25.25 0 00-.277-.417z' fill='%23DB1F35' fill-rule='nonzero'/%3E%3Cpath fill='url(%23c)' d='M-.002 9h9v6h3V9h9V6h-9V0h-3v6h-9z'/%3E%3C/g%3E%3C/svg%3E"
													alt="English"
												/></span
											></a
										></li
									></ul
								></nav
							>
						</div>
					</div>
					<div
						class="elementor-element elementor-element-aba98e9 elementor-hidden-desktop elementor-hidden-laptop elementor-hidden-tablet_extra elementor-widget__width-auto elementor-widget-laptop__width-auto elementor-view-default elementor-widget elementor-widget-icon"
						data-id="aba98e9"
						data-element_type="widget"
						data-widget_type="icon.default"
					>
						<div class="elementor-widget-container">
							<div class="elementor-icon-wrapper">
								<a
									class="elementor-icon"
									href="#elementor-action%3Aaction%3Dpopup%3Aopen%26settings%3DeyJpZCI6IjM0MjMiLCJ0b2dnbGUiOmZhbHNlfQ%3D%3D"
								>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="27"
										height="20"
										viewBox="0 0 27 20"
										fill="none"
										><path
											d="M7.1489 2.05888C7.1489 1.32794 7.74149 0.735352 8.47243 0.735352H25.6783C26.4092 0.735352 27.0018 1.32794 27.0018 2.05888C27.0018 2.78982 26.4092 3.38241 25.6783 3.38241H8.47243C7.74149 3.38241 7.1489 2.78977 7.1489 2.05888ZM25.6783 8.67653H1.85478C1.12384 8.67653 0.53125 9.26917 0.53125 10.0001C0.53125 10.731 1.12384 11.3236 1.85478 11.3236H25.6783C26.4092 11.3236 27.0018 10.731 27.0018 10.0001C27.0018 9.26917 26.4092 8.67653 25.6783 8.67653ZM25.6783 16.6177H13.7665C13.0357 16.6177 12.443 17.2103 12.443 17.9412C12.443 18.6721 13.0357 19.2648 13.7665 19.2648H25.6783C26.4092 19.2648 27.0018 18.6721 27.0018 17.9412C27.0018 17.2103 26.4092 16.6177 25.6783 16.6177Z"
											fill="white"
											fill-opacity="0.85"></path></svg
									>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<a class="skip-link screen-reader-text" href="#content"> Skip to content</a>
