---
import PageHead from "../../PageHead.astro";
import FooterAssets from "../../FooterAssets.astro";
---

<PageHead />

<div data-elementor-type="footer" data-elementor-id="22407" class="elementor elementor-22407 elementor-location-footer" data-elementor-post-type="elementor_library">
	<div class="elementor-element elementor-element-71d62ca e-flex e-con-boxed e-con e-parent" data-id="71d62ca" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="e-con-inner">
			<div class="elementor-element elementor-element-0f78a91 e-flex e-con-boxed e-con e-child" data-id="0f78a91" data-element_type="container">
				<div class="e-con-inner">
					<div class="elementor-element elementor-element-635ec58 e-con-full e-flex e-con e-child" data-id="635ec58" data-element_type="container">
						<div class="elementor-element elementor-element-a300d95 elementor-widget elementor-widget-theme-site-logo elementor-widget-image" data-id="a300d95" data-element_type="widget" data-widget_type="theme-site-logo.default">
							<div class="elementor-widget-container">
								<a href="https://thedeweyschools.edu.vn">
									<img width="217" height="160" src="/assets/vp-logo-dewey.svg" class="attachment-full size-full wp-image-17" alt="vp-vp-logo-dewey-02 1" />
								</a>
							</div>
						</div>
						<div class="elementor-element elementor-element-5019cfd elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="5019cfd" data-element_type="widget" data-widget_type="divider.default">
							<div class="elementor-widget-container">
								<div class="elementor-divider">
									<span class="elementor-divider-separator"></span>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-1dad446 e-con-full e-flex e-con e-child" data-id="1dad446" data-element_type="container">
							<div class="elementor-element elementor-element-d5995aa elementor-widget elementor-widget-image" data-id="d5995aa" data-element_type="widget" data-widget_type="image.default">
								<div class="elementor-widget-container">
									<a href="https://sakuramontessori.edu.vn/" target="_blank" rel="nofollow">
										<img width="600" height="600" src="/assets/logo-sakura-schools01.png" class="attachment-large size-large wp-image-72301" alt="logo-sakura-schools01" srcset="/assets/logo-sakura-schools01.png 600w, /assets/logo-sakura-schools01-300x300.png 300w, /assets/logo-sakura-schools01-768x768.png 768w, /assets/logo-sakura-schools01-1536x1536.png 1536w, /assets/logo-sakura-schools01.png 1875w" sizes="(max-width: 600px) 100vw, 600px" />
									</a>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-6c1eff9 elementor-hidden-desktop elementor-hidden-laptop elementor-hidden-tablet_extra elementor-hidden-tablet e-flex e-con-boxed e-con e-child" data-id="6c1eff9" data-element_type="container">
							<div class="e-con-inner">
								<div class="elementor-element elementor-element-c585a7f elementor-widget elementor-widget-heading" data-id="c585a7f" data-element_type="widget" data-widget_type="heading.default">
									<div class="elementor-widget-container">
										<h6 class="elementor-heading-title elementor-size-default">hỗ trợ</h6>
									</div>
								</div>
								<div class="elementor-element elementor-element-4f06871 elementor-widget elementor-widget-text-editor" data-id="4f06871" data-element_type="widget" data-widget_type="text-editor.default">
									<div class="elementor-widget-container">
										<p><a style="color: #dcdbe6;" href="mailto:info.tht@thedeweyschools.edu.vn">info.tht@thedewyschools.edu.vn</a></p>
									</div>
								</div>
								<div class="elementor-element elementor-element-5649fcd elementor-widget elementor-widget-text-editor" data-id="5649fcd" data-element_type="widget" data-widget_type="text-editor.default">
									<div class="elementor-widget-container">
										<a style="color: #dcdbe6;" href="tel:02471088998">024.7108.8998</a>
									</div>
								</div>
								<div class="elementor-element elementor-element-00f6391 link-footer elementor-widget elementor-widget-text-editor" data-id="00f6391" data-element_type="widget" data-widget_type="text-editor.default">
									<div class="elementor-widget-container">
										<p>Mã bưu chính: 100000</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<FooterAssets />