---
// HomeCertificationBadges - Certification badges and intro
---

<!-- Local Home CSS -->
<link rel="stylesheet" href="/home/css/dewey-theme.css" />
<link rel="stylesheet" href="/home/css/elementor-frontend.min.css" />
<link rel="stylesheet" href="/home/css/custom-frontend.min.css" />
<link rel="stylesheet" href="/home/css/widget-heading.min.css" />
<link rel="stylesheet" href="/home/css/widget-text-editor.min.css" />
<link rel="stylesheet" href="/home/css/widget-image.min.css" />
<link rel="stylesheet" href="/home/css/fadeInUp.min.css" />

<style>
  @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700;800&display=swap');
  html,body { font-family: 'Be Vietnam Pro', Arial, sans-serif; margin:0; padding:0; }
</style>

<div class="elementor-element elementor-element-ef7c215 e-flex e-con-boxed e-con e-parent" data-id="ef7c215" data-element_type="container">
	<div class="e-con-inner">
		<div class="elementor-element elementor-element-0952a5f e-con-full e-flex e-con e-child" data-id="0952a5f" data-element_type="container">
			<div class="elementor-element elementor-element-a3f0b06 e-con-full e-flex elementor-invisible e-con e-child" data-id="a3f0b06" data-element_type="container" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
				<div class="elementor-element elementor-element-fb0680b elementor-widget elementor-widget-heading" data-id="fb0680b" data-element_type="widget" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h2 class="elementor-heading-title elementor-size-default">giới thiệu</h2>
					</div>
				</div>
				<div class="elementor-element elementor-element-c8cb167 elementor-widget elementor-widget-text-editor" data-id="c8cb167" data-element_type="widget" data-widget_type="text-editor.default">
					<div class="elementor-widget-container">
						<p>The Dewey Schools là hệ thống trường phổ thông liên cấp thuộc Tập đoàn giáo dục Edufit, cùng với Sakura Schools (Tiền thân là Sakura Montessori International Schools) chúng tôi tiên phong mang đến nền giáo dục đẳng cấp quốc tế.</p>
					</div>
				</div>
				<div class="elementor-element elementor-element-bb2aed1 elementor-widget elementor-widget-button" data-id="bb2aed1" data-element_type="widget" data-widget_type="button.default">
					<div class="elementor-widget-container">
						<div class="elementor-button-wrapper">
							<a class="elementor-button elementor-button-link elementor-size-sm" href="/ve-chung-toi/">
								<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text">Về chúng tôi</span>
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="elementor-element elementor-element-c5dda1b e-flex e-con-boxed elementor-invisible e-con e-child" data-id="c5dda1b" data-element_type="container" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
				<div class="e-con-inner">
					<div class="elementor-element elementor-element-b3efd98 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="b3efd98" data-element_type="widget" data-widget_type="divider.default">
						<div class="elementor-widget-container">
							<div class="elementor-divider">
								<span class="elementor-divider-separator"></span>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-914a053 elementor-widget elementor-widget-heading" data-id="914a053" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<div class="elementor-heading-title elementor-size-default">thành viên của cis</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-4ebc92d elementor-widget elementor-widget-image" data-id="4ebc92d" data-element_type="widget" data-widget_type="image.default">
						<div class="elementor-widget-container">
							<a href="https://thedeweyschools.edu.vn/hop-tac-dao-tao/">
								<img decoding="async" width="160" height="70" src="/home/images/logos/cis-member.png" class="attachment-large size-large wp-image-26226" alt="cis-schools-member-1" />
							</a>
						</div>
					</div>
					<div class="elementor-element elementor-element-f4e1c05 e-flex e-con-boxed e-con e-child" data-id="f4e1c05" data-element_type="container">
						<div class="e-con-inner">
							<div class="elementor-element elementor-element-61aaf7b e-con-full e-flex e-con e-child" data-id="61aaf7b" data-element_type="container">
								<div class="elementor-element elementor-element-fd43b4d elementor-widget elementor-widget-heading" data-id="fd43b4d" data-element_type="widget" data-widget_type="heading.default">
									<div class="elementor-widget-container">
										<div class="elementor-heading-title elementor-size-default">chương trình ap</div>
									</div>
								</div>
								<div class="elementor-element elementor-element-4b62bf8 elementor-widget elementor-widget-image" data-id="4b62bf8" data-element_type="widget" data-widget_type="image.default">
									<div class="elementor-widget-container">
										<a href="https://thedeweyschools.edu.vn/chuong-trinh-advanced-placement-ap/">
											<img decoding="async" width="63" height="63" src="/home/images/logos/logo-ap.png" class="attachment-large size-large wp-image-36788" alt="Logo-AP" />
										</a>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-1f99b25 e-con-full e-flex e-con e-child" data-id="1f99b25" data-element_type="container">
								<div class="elementor-element elementor-element-7ad72a5 elementor-widget elementor-widget-heading" data-id="7ad72a5" data-element_type="widget" data-widget_type="heading.default">
									<div class="elementor-widget-container">
										<div class="elementor-heading-title elementor-size-default">Trường Quốc tế IB</div>
									</div>
								</div>
								<div class="elementor-element elementor-element-188660f elementor-widget elementor-widget-image" data-id="188660f" data-element_type="widget" data-widget_type="image.default">
									<div class="elementor-widget-container">
										<a href="https://thedeweyschools.edu.vn/chuong-trinh-dao-tao/chuong-trinh-tu-tai-quoc-te-ib/">
											<img loading="lazy" decoding="async" width="63" height="62" src="/home/images/logos/ib-logo.png" class="attachment-large size-large wp-image-53342" alt="ib-logo" />
										</a>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-6219990 e-con-full e-flex e-con e-child" data-id="6219990" data-element_type="container">
								<div class="elementor-element elementor-element-2fbbd83 elementor-widget elementor-widget-heading" data-id="2fbbd83" data-element_type="widget" data-widget_type="heading.default">
									<div class="elementor-widget-container">
										<div class="elementor-heading-title elementor-size-default">Đối tác đào tạo</div>
									</div>
								</div>
								<div class="elementor-element elementor-element-d6ecb13 elementor-widget elementor-widget-image" data-id="d6ecb13" data-element_type="widget" data-widget_type="image.default">
									<div class="elementor-widget-container">
										<a href="https://thedeweyschools.edu.vn/the-dewey-schools-lien-ket-dao-tao-voi-mount-vernon-school/">
											<img decoding="async" src="/home/images/logos/mount-vernon.png" title="Logo The Mount Vernon School" alt="Logo The Mount Vernon School" loading="lazy" />
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
