
---
import PageHead from '../../PageHead.astro';
import FooterAssets from '../../FooterAssets.astro';
---

<PageHead />

<div class="elementor-element elementor-element-d8fe02a e-con-full e-flex e-con e-parent" data-id="d8fe02a" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
	<div class="elementor-element elementor-element-e4e190b e-con-full e-flex e-con e-child" data-id="e4e190b" data-element_type="container">
	</div>
	<div class="elementor-element elementor-element-076d11c e-flex e-con-boxed e-con e-child" data-id="076d11c" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="e-con-inner">
			<div class="elementor-element elementor-element-2bc2d09 elementor-invisible elementor-widget elementor-widget-dewey-banner-slider" data-id="2bc2d09" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="dewey-banner-slider.default">
				<div class="elementor-widget-container">
					<div class="dewey-slider-banner-widget">
						<div class="container-heading">
							<h2 class="title-slider">Chương trình học</h2>
							<span class="pagingInfo"></span>
						</div>

						<div class="js-banner-slider">
							<div class="box">
								<div class="banner-order">
									<div class="banner-slider">
										<div class="banner-info">
											<h3 class="heading-name">
												<a href="https://thedeweyschools.edu.vn/chuong-trinh-dao-tao/chuong-trinh-tich-hop-explore/" class="banner--name">
													Chương trình Tích hợp Explore
												</a>
											</h3>
											<ul class="dewey-table-list">
												<li class="dewey-repeater-item">
													<span class="text-item">Cấp học</span>
													<span class="text-item-space">Lớp 1 - 12</span>
												</li>
												<li class="dewey-repeater-item language">
													<span class="text-item">Tỷ lệ ngôn ngữ giảng dạy</span>
													<span class="text-item-space">35% tiếng Anh - 65% tiếng Việt</span>
												</li>
												<li class="dewey-repeater-item target">
													<span class="text-item">Mục tiêu đào tạo</span>
													<span class="text-item-space">Bằng tốt nghiệp THPT Việt Nam</span>
												</li>
											</ul>
										</div>
										<img decoding="async" width="495" height="495" src="/home/images/programs/explore.png" srcset="/home/images/programs/explore.png 1160w, /home/images/programs/explore-300x300.png 300w, /home/images/programs/explore-1024x1024.png 1024w, /home/images/programs/explore-150x150.png 150w, /home/images/programs/explore-768x768.png 768w" alt="Chương trình Tích hợp Explore" class="slider-banner">
									</div>
								</div>
							</div>
							<div class="box">
								<div class="banner-order">
									<div class="banner-slider">
										<div class="banner-info">
											<h3 class="heading-name">
												<a href="https://thedeweyschools.edu.vn/chuong-trinh-dao-tao/chuong-trinh-tich-hop-discover/" class="banner--name">
													Chương trình Tích hợp Discover
												</a>
											</h3>
											<ul class="dewey-table-list">
												<li class="dewey-repeater-item">
													<span class="text-item">Cấp học</span>
													<span class="text-item-space">Lớp 1 - 12</span>
												</li>
												<li class="dewey-repeater-item language">
													<span class="text-item">Tỷ lệ ngôn ngữ giảng dạy</span>
													<span class="text-item-space">45% tiếng Anh - 55% tiếng Việt</span>
												</li>
												<li class="dewey-repeater-item target">
													<span class="text-item">Mục tiêu đào tạo</span>
													<span class="text-item-space">Bằng tốt nghiệp THPT Việt Nam</span>
												</li>
											</ul>
										</div>
										<img decoding="async" width="495" height="495" src="/home/images/programs/discover.png" srcset="/home/images/programs/discover.png 493w, /home/images/programs/discover-300x300.png 300w" alt="Chương trình Tích hợp Discover" class="slider-banner">
									</div>
								</div>
							</div>
							<div class="box">
								<div class="banner-order">
									<div class="banner-slider">
										<div class="banner-info">
											<h3 class="heading-name">
												<a href="https://thedeweyschools.edu.vn/chuong-trinh-dao-tao/chuong-trinh-quoc-te-adventure/" class="banner--name">
													Chương trình Quốc tế Adventure
												</a>
											</h3>
											<ul class="dewey-table-list">
												<li class="dewey-repeater-item">
													<span class="text-item">Cấp học</span>
													<span class="text-item-space">Lớp 6 - Lớp 12</span>
												</li>
												<li class="dewey-repeater-item language">
													<span class="text-item">Tỷ lệ ngôn ngữ giảng dạy</span>
													<span class="text-item-space">78% Tiếng Anh - 22% Tiếng Việt &amp; ngôn ngữ khác</span>
												</li>
												<li class="dewey-repeater-item target">
													<span class="text-item">Tốt nghiệp</span>
													<span class="text-item-space">Bằng tốt nghiệp THPT của Việt Nam<br>Bằng tốt nghiệp THPT của Mount Vernon School (Mỹ)</span>
												</li>
											</ul>
										</div>
										<img decoding="async" width="495" height="495" src="/home/images/programs/adventure.png" srcset="/home/images/programs/adventure.png 628w, /home/images/programs/adventure-300x279.png 300w, /home/images/programs/adventure-323x300.png 323w" alt="Chương trình Quốc tế Adventure" class="slider-banner">
									</div>
								</div>
							</div>
							<div class="box">
								<div class="banner-order">
									<div class="banner-slider">
										<div class="banner-info">
											<h3 class="heading-name">
												<a href="https://thedeweyschools.edu.vn/chuong-trinh-dao-tao/chuong-trinh-quoc-te-journey/" class="banner--name">
													Chương trình Quốc tế Journey
												</a>
											</h3>
											<ul class="dewey-table-list">
												<li class="dewey-repeater-item">
													<span class="text-item">Cấp học</span>
													<span class="text-item-space">Lớp 1 - 12</span>
												</li>
												<li class="dewey-repeater-item language">
													<span class="text-item">Tỷ lệ ngôn ngữ giảng dạy</span>
													<span class="text-item-space">85% Tiếng Anh - 15% Tiếng Việt &amp; ngôn ngữ khác</span>
												</li>
												<li class="dewey-repeater-item target">
													<span class="text-item">Tốt nghiệp</span>
													<span class="text-item-space">Bằng tốt nghiệp THPT của Mount Vernon School (Mỹ)</span>
												</li>
											</ul>
										</div>
										<img decoding="async" width="495" height="495" src="/home/images/programs/journey.png" srcset="/home/images/programs/journey.png 492w, /home/images/programs/journey-248x300.png 248w" alt="Chương trình Quốc tế Journey" class="slider-banner">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<FooterAssets />
