---
// HomeStatisticsInfographic - Statistics infographic for mobile
---

<!-- Local Home CSS -->
<link rel="stylesheet" href="/home/css/dewey-theme.css" />
<link rel="stylesheet" href="/home/css/elementor-frontend.min.css" />
<link rel="stylesheet" href="/home/css/custom-frontend.min.css" />
<link rel="stylesheet" href="/home/css/widget-image.min.css" />
<link rel="stylesheet" href="/home/css/widget-text-editor.min.css" />

<style>
  @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700;800&display=swap');
  html,body { font-family: 'Be Vietnam Pro', Arial, sans-serif; margin:0; padding:0; }
</style>

<div class="elementor-element elementor-element-9a2bbe4 elementor-hidden-desktop elementor-hidden-laptop elementor-hidden-tablet_extra e-flex e-con-boxed e-con e-parent" data-id="9a2bbe4" data-element_type="container">
	<div class="e-con-inner">
		<div class="elementor-element elementor-element-aa1478d elementor-widget elementor-widget-image" data-id="aa1478d" data-element_type="widget" data-widget_type="image.default">
			<div class="elementor-widget-container">
				<img loading="lazy" decoding="async" width="458" height="600" src="/home/images/infographics/con-so-biet-noi-mobile.jpg" class="attachment-large size-large wp-image-69759" alt="Con-so-biet-noi-mobile" srcset="/home/images/infographics/con-so-biet-noi-mobile.jpg 458w, /home/images/infographics/con-so-biet-noi-mobile-229x300.jpg 229w, /home/images/infographics/con-so-biet-noi-mobile-768x1006.jpg 768w, /home/images/infographics/con-so-biet-noi-mobile-1173x1536.jpg 1173w, /home/images/infographics/con-so-biet-noi-mobile-1563x2048.jpg 1563w, /home/images/infographics/con-so-biet-noi-mobile.jpg 1600w" sizes="(max-width: 458px) 100vw, 458px" />
			</div>
		</div>
	</div>
</div>
<div class="elementor-element elementor-element-4ae18bd container-expand elementor-hidden-desktop elementor-hidden-laptop elementor-hidden-tablet_extra e-flex e-con-boxed e-con e-child" data-id="4ae18bd" data-element_type="container">
	<div class="e-con-inner">
		<div class="elementor-element elementor-element-969e930 elementor-widget elementor-widget-image" data-id="969e930" data-element_type="widget" data-widget_type="image.default">
			<div class="elementor-widget-container">
				<a href="#dang-ky-tu-van">
					<img loading="lazy" decoding="async" width="648" height="2560" src="/home/images/infographics/trang-chu-mobile-1.jpg" class="attachment-full size-full wp-image-69760" alt="trang-chu-mobile-1" srcset="/home/images/infographics/trang-chu-mobile-1.jpg 648w, /home/images/infographics/trang-chu-mobile-1-76x300.jpg 76w, /home/images/infographics/trang-chu-mobile-1-152x600.jpg 152w, /home/images/infographics/trang-chu-mobile-1-389x1536.jpg 389w" sizes="(max-width: 648px) 100vw, 648px" />
				</a>
			</div>
		</div>
		<div class="elementor-element elementor-element-f37f245 expand elementor-widget elementor-widget-text-editor" data-id="f37f245" data-element_type="widget" data-widget_type="text-editor.default">
			<div class="elementor-widget-container">
				<p>Hiển thị thêm</p>
			</div>
		</div>
	</div>
</div>
