---
---
---



<div
	class="elementor-element elementor-element-f07f450 e-con-full e-flex e-con e-parent"
	data-id="f07f450"
	data-element_type="container"
>
	<div
		class="elementor-element elementor-element-9028e36 elementor-widget-mobile__width-initial elementor-widget elementor-widget-slider-swiper"
		data-id="9028e36"
		data-element_type="widget"
		data-settings='{"_animation":"none","_animation_delay":2000}'
		data-widget_type="slider-swiper.default"
	>
		<div class="elementor-widget-container">
			<div class="swiper animeslide">
				<div class="dewey-swiper-wrapper swiper-wrapper">
					<!-- Slide 1: Tuyển sinh lớp 1 -->
					<div
						class="images-slider swiper-slide animeslide-slide"
						style="background-image: url('/home/images/slider/tuyen-sinh-lop1-mobile.jpg');"
					>
						<a href="https://tuyensinh.thedeweyschools.edu.vn/tuyen-sinh-lop-1-website" class="banner--name">
							<img
								decoding="async"
								width="1900"
								height="992"
								src="/home/images/slider/tuyen-sinh-lop1-desktop.jpg"
								alt="Tuyển sinh lớp 1"
								class="slider-images"
							/>
							<div class="images-info"></div>
						</a>
					</div>

					<!-- Slide 2: Học bổng Mastery -->
					<div
						class="images-slider swiper-slide animeslide-slide"
						style="background-image: url('/home/images/slider/hoc-bong-mastery-mobile.jpg');"
					>
						<a href="https://forms.gle/Nw6TbpfEwMwSLgjA6" class="banner--name" target="_blank" rel="noopener">
							<img
								decoding="async"
								width="1900"
								height="992"
								src="/home/images/slider/hoc-bong-mastery-desktop.jpg"
								alt="Học bổng Mastery"
								class="slider-images"
							/>
							<div class="images-info"></div>
						</a>
					</div>

					<!-- Slide 3: CG Mastery -->
					<div
						class="images-slider swiper-slide animeslide-slide"
						style="background-image: url('/home/images/slider/cg-mastery-mobile.jpg');"
					>
						<a href="https://forms.gle/Nw6TbpfEwMwSLgjA6" class="banner--name" target="_blank" rel="noopener">
							<img
								decoding="async"
								width="1900"
								height="992"
								src="/home/images/slider/cg-mastery-desktop.jpg"
								alt="CG Mastery"
								class="slider-images"
							/>
							<div class="images-info"></div>
						</a>
					</div>

					<!-- Slide 4: Tuyển sinh 5-12 -->
					<div
						class="images-slider swiper-slide animeslide-slide"
						style="background-image: url('/home/images/slider/tuyen-sinh-5-12-mobile.jpg');"
					>
						<a href="/tuyen-sinh/" class="banner--name">
							<img
								decoding="async"
								width="1900"
								height="992"
								src="/home/images/slider/tuyen-sinh-5-12-desktop.jpg"
								alt="Tuyển sinh lớp 5-12"
								class="slider-images"
							/>
							<div class="images-info"></div>
						</a>
					</div>

					<!-- Slide 5: Tuyển sinh lớp 6 -->
					<div
						class="images-slider swiper-slide animeslide-slide"
						style="background-image: url('/home/images/slider/tuyen-sinh-lop6-mobile.jpg');"
					>
						<a href="https://tuyensinh.thedeweyschools.edu.vn/tuyen-sinh-lop-6-website" class="banner--name">
							<img
								decoding="async"
								width="1900"
								height="992"
								src="/home/images/slider/tuyen-sinh-lop6-desktop.jpg"
								alt="Tuyển sinh lớp 6"
								class="slider-images"
							/>
							<div class="images-info"></div>
						</a>
					</div>

					<!-- Slide 6: Tuyển sinh lớp 10 -->
					<div
						class="images-slider swiper-slide animeslide-slide"
						style="background-image: url('/home/images/slider/tuyen-sinh-lop10-mobile.jpg');"
					>
						<a href="https://tuyensinh.thedeweyschools.edu.vn/tuyen-sinh-lop-10-website" class="banner--name">
							<img
								decoding="async"
								width="1900"
								height="992"
								src="/home/images/slider/tuyen-sinh-lop10-desktop.jpg"
								alt="Tuyển sinh lớp 10"
								class="slider-images"
							/>
							<div class="images-info"></div>
						</a>
					</div>

					<!-- Slide 7: Tuyển sinh bổ sung -->
					<div
						class="images-slider swiper-slide animeslide-slide"
						style="background-image: url('/home/images/slider/tuyen-sinh-bosung-mobile.jpg');"
					>
						<a
							href="#elementor-action%3Aaction%3Dpopup%3Aopen%26settings%3DeyJpZCI6IjM4NjQ1IiwidG9nZ2xlIjpmYWxzZX0%3D"
							class="banner--name"
						>
							<img
								decoding="async"
								width="1900"
								height="992"
								src="/home/images/slider/tuyen-sinh-bosung-desktop.jpg"
								alt="Tuyển sinh bổ sung"
								class="slider-images"
							/>
							<div class="images-info"></div>
						</a>
					</div>
				</div>

				<!-- pagination dots -->
				<div class="swiper-pagination"></div>
			</div>
		</div>
	</div>
</div>


<!-- Swiper CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script>
	document.addEventListener('DOMContentLoaded', function () {
		new Swiper('.swiper', {
			loop: true,
			pagination: {
				el: '.swiper-pagination',
				clickable: true,
			},
			autoplay: {
				delay: 3000,
				disableOnInteraction: false,
			},
			slidesPerView: 1,
			effect: 'slide',
		});
	});
</script>
