---
/**
 * HomeCampusSlider - Campus locations slider
 * Refactored from MainSection.astro (lines 511-593)
 * Uses Dewey custom widget: dewey-images-slider
 * Shows 4 campuses: Cầu Giấy, Hải Phòng, Tây Hồ Tây, Ocean Park
 */
---

<link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700;800&display=swap" rel="stylesheet">
<link rel='stylesheet' href='/home/css/elementor-frontend.min.css' />
<link rel='stylesheet' href='/home/css/dewey-theme.css' />
<link rel='stylesheet' href='/home/css/swiper.min.css' />

<div class="elementor-element elementor-element-04e6b77 e-flex e-con-boxed e-con e-parent" data-id="04e6b77" data-element_type="container">
	<div class="e-con-inner">
		<div class="elementor-element elementor-element-86363b8 elementor-widget elementor-widget-dewey-images-slider" data-id="86363b8" data-element_type="widget" data-widget_type="dewey-images-slider.default">
			<div class="elementor-widget-container">
				<div class="dewey-images-widget">
					<div class="images-slider-wrapper" data-show="4" data-show-tablet="4" data-show-mobile="2">
						<div class="js-images-slider image-layout1 images-list">
							<div class="images-item">
								<div class="images-order">
									<div class="images-slider">
										<a href="https://thedeweyschools.edu.vn/co-so/dewey-cau-giay/">
											<img decoding="async" width="368" height="220" src="/home/images/campuses/cau-giay.webp" srcset="/home/images/campuses/cau-giay.webp 368w, /home/images/campuses/cau-giay-300x179.webp 300w" alt="Cơ sở Cầu Giấy" class="slider-images">
										</a>
										<div class="images-info">
											<a href="https://thedeweyschools.edu.vn/co-so/dewey-cau-giay/" class="images--name">
												Cơ sở Cầu Giấy
												<span><svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.48415 4.71858C6.4289 4.66294 6.36774 4.61599 6.30421 4.57514L2.0407 0.311836C1.62459 -0.10388 0.95021 -0.104077 0.533902 0.312034C0.117792 0.727947 0.117792 1.40252 0.533902 1.81883L4.2059 5.49043L0.515356 9.18137C0.099048 9.59708 0.099048 10.2719 0.515356 10.6882C0.72351 10.8959 0.995984 10.9999 1.26846 10.9999C1.54093 10.9999 1.814 10.8959 2.02156 10.6878L6.30421 6.40572C6.36774 6.36487 6.42871 6.31811 6.48415 6.26228C6.69723 6.04919 6.79944 5.76942 6.7947 5.49043C6.79963 5.21125 6.69723 4.93108 6.48415 4.71858Z" fill="white" /></svg></span>
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="images-item">
								<div class="images-order">
									<div class="images-slider">
										<a href="https://thedeweyschools.edu.vn/co-so/dewey-hai-phong/">
											<img decoding="async" width="368" height="220" src="/home/images/campuses/hai-phong.webp" srcset="/home/images/campuses/hai-phong.webp 368w, /home/images/campuses/hai-phong-300x179.webp 300w" alt="Cơ sở Hải Phòng" class="slider-images">
										</a>
										<div class="images-info">
											<a href="https://thedeweyschools.edu.vn/co-so/dewey-hai-phong/" class="images--name">
												Cơ sở Hải Phòng
												<span><svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.48415 4.71858C6.4289 4.66294 6.36774 4.61599 6.30421 4.57514L2.0407 0.311836C1.62459 -0.10388 0.95021 -0.104077 0.533902 0.312034C0.117792 0.727947 0.117792 1.40252 0.533902 1.81883L4.2059 5.49043L0.515356 9.18137C0.099048 9.59708 0.099048 10.2719 0.515356 10.6882C0.72351 10.8959 0.995984 10.9999 1.26846 10.9999C1.54093 10.9999 1.814 10.8959 2.02156 10.6878L6.30421 6.40572C6.36774 6.36487 6.42871 6.31811 6.48415 6.26228C6.69723 6.04919 6.79944 5.76942 6.7947 5.49043C6.79963 5.21125 6.69723 4.93108 6.48415 4.71858Z" fill="white" /></svg></span>
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="images-item">
								<div class="images-order">
									<div class="images-slider">
										<a href="https://thedeweyschools.edu.vn/co-so/dewey-tay-ho-tay/">
											<img decoding="async" width="368" height="220" src="/home/images/campuses/tay-ho-tay.webp" srcset="/home/images/campuses/tay-ho-tay.webp 368w, /home/images/campuses/tay-ho-tay-300x179.webp 300w" alt="Cơ sở Tây Hồ Tây" class="slider-images">
										</a>
										<div class="images-info">
											<a href="https://thedeweyschools.edu.vn/co-so/dewey-tay-ho-tay/" class="images--name">
												Cơ sở Tây Hồ Tây
												<span><svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.48415 4.71858C6.4289 4.66294 6.36774 4.61599 6.30421 4.57514L2.0407 0.311836C1.62459 -0.10388 0.95021 -0.104077 0.533902 0.312034C0.117792 0.727947 0.117792 1.40252 0.533902 1.81883L4.2059 5.49043L0.515356 9.18137C0.099048 9.59708 0.099048 10.2719 0.515356 10.6882C0.72351 10.8959 0.995984 10.9999 1.26846 10.9999C1.54093 10.9999 1.814 10.8959 2.02156 10.6878L6.30421 6.40572C6.36774 6.36487 6.42871 6.31811 6.48415 6.26228C6.69723 6.04919 6.79944 5.76942 6.7947 5.49043C6.79963 5.21125 6.69723 4.93108 6.48415 4.71858Z" fill="white" /></svg></span>
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="images-item">
								<div class="images-order">
									<div class="images-slider">
										<a href="https://thedeweyschools.edu.vn/co-so/dewey-ocean-park/">
											<img decoding="async" width="368" height="220" src="/home/images/campuses/ocean-park.webp" srcset="/home/images/campuses/ocean-park.webp 368w, /home/images/campuses/ocean-park-300x179.webp 300w" alt="Cơ sở Ocean Park" class="slider-images">
										</a>
										<div class="images-info">
											<a href="https://thedeweyschools.edu.vn/co-so/dewey-ocean-park/" class="images--name">
												Cơ sở Ocean Park
												<span><svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.48415 4.71858C6.4289 4.66294 6.36774 4.61599 6.30421 4.57514L2.0407 0.311836C1.62459 -0.10388 0.95021 -0.104077 0.533902 0.312034C0.117792 0.727947 0.117792 1.40252 0.533902 1.81883L4.2059 5.49043L0.515356 9.18137C0.099048 9.59708 0.099048 10.2719 0.515356 10.6882C0.72351 10.8959 0.995984 10.9999 1.26846 10.9999C1.54093 10.9999 1.814 10.8959 2.02156 10.6878L6.30421 6.40572C6.36774 6.36487 6.42871 6.31811 6.48415 6.26228C6.69723 6.04919 6.79944 5.76942 6.7947 5.49043C6.79963 5.21125 6.69723 4.93108 6.48415 4.71858Z" fill="white" /></svg></span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/home/scripts/swiper.min.js"></script>
<script is:inline>
  if (typeof Swiper !== 'undefined' && document.querySelector('.js-images-slider')) {
    new Swiper('.js-images-slider', {
      slidesPerView: 2,
      spaceBetween: 16,
      loop: true,
      breakpoints: {
        768: { slidesPerView: 4 }
      }
    });
  }
</script>
