---
import PageHead from '../../components/PageHead.astro';
import FooterSection from '../../components/FooterSection.astro';
import FooterAssets from '../../components/FooterAssets.astro';
---

<!doctype html>
<html lang="vi" prefix="og: https://ogp.me/ns#">
<head>
  <PageHead />
</head>
<body class="home page-template page-template-elementor_theme page page-id-19647 wp-custom-logo elementor-default elementor-kit-6 elementor-page elementor-page-19647">
  <FooterSection />
  <FooterAssets />
</body>
</html>
